<!DOCTYPE html>
<html lang="en" th:replace="admin/bases/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
          integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/CSS/admin/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css"
          integrity="sha512-V0+DPzYyLzIiMiWCg3nNdY+NyIiK9bED/T1xNBj08CaIUyK3sXRpB26OUCIzujMevxY9TRJFHQIxTwgzb0jVLg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.0.96/css/materialdesignicons.min.css"
          integrity="sha512-fXnjLwoVZ01NUqS/7G5kAnhXNXat6v7e3M9PhoMHOTARUMCaf5qNO84r5x9AFf5HDzm3rEZD8sb/n6dZ19SzFA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.css"
          integrity="sha512-GQSxWe9Cj4o4EduO7zO9HjULmD4olIjiQqZ7VJuwBxZlkWaUFGCxRkn39jYnD2xZBtEilm0m4WBG7YEmQuMs5Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.4/css/flag-icons.min.css"
          integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title text-center">Doctors Care Earning Statistics </h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">

                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card shadow border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Total Earnings</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">৳<span th:text="${totalEarnings}"></span></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span
                                            th:text="${totalEarnUpdrift}"></span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card shadow border-top border-top-secondary">
                                <div class="card-body">
                                    <h5 class="text-muted">Todays Earnings Total</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">৳<span th:text="${totalEarnToday}"></span></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-info font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span
                                            th:text="${totalEarnTodayUpdrift}"></span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue2"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card shadow border-top border-top-third">
                                <div class="card-body">
                                    <h5 class="text-muted">Last 7 days Earnings total</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">৳<span th:text="${totalEarnWeekly}"></span></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span
                                            th:text="${totalEarnWeeklyUpdrift}"></span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue3"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="card shadow border-top border-top-fourth">
                                <div class="card-body">
                                    <h5 class="text-muted">Last 30 days Earnings total</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">৳<span th:text="${totalEarnMonthly}"></span></h1>
                                    </div>
                                    <div class="metric-label d-inline-block float-right text-warning font-weight-bold">
                                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span
                                            th:text="${totalEarnMonthlyUpdrift}"></span>
                                    </div>
                                </div>
                                <div id="sparkline-revenue4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->

                        <!-- recent Appointment's  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                            <div class="card shadow">
                                <h5 class="card-header">Recent Appointments</h5>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">Appointment ID</th>
                                                <th class="border-0">Appointment Date</th>
                                                <th class="border-0">Appointment Time</th>
                                                <th class="border-0">Patient Email</th>
                                                <th class="border-0">Doctor Fee</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="appointments : ${appointDoctorList}">
                                                <td class="text-center p-3" th:text="${appointments.id}"></td>
                                                <td class="text-center p-3"
                                                    th:text="${appointments.appointmentDate}"></td>
                                                <td class="text-center p-3"
                                                    th:text="${appointments.appointmentTime}"></td>
                                                <td class="text-center p-3" th:text="${appointments.patientID}"></td>
                                                <td class="text-center p-3">৳<span
                                                        th:text="${appointments.doctorFee}"></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9"><a th:href="@{/admin/appointment-logs/1}"
                                                                   class="btn btn-outline-light float-right">View
                                                    Appointment Logs</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent appointments  -->


                    </div>
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="shadow card pb-5">
                                <h5 class="card-header text-center"> User Category</h5>
                                <div class="ct-chart-category ct-golden-section mt-5" style="height: 315px;"></div>
                                <div class="text-center m-t-40">
                                            <span class="legend-item mr-3 px-3">
                                                    <span class="fa-xs mr-1 legend-tile" style="color: #8CDBFA;"><i
                                                            class="fa fa-fw fa-square-full "></i></span>
                                                    <span class="legend-text">Patient</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #AEF8A7;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Doctors</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #F3CD93;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                            <span class="legend-text">Admins</span>
                                            </span>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="shadow card pb-5">
                                <h5 class="card-header text-center"> Doctor Types Statistics </h5>
                                <div class="ct-chart-category-2 ct-golden-section mt-5" style="height: 315px;"></div>
                                <div class="text-center m-t-40">
                                            <span class="legend-item mr-3 px-3">
                                                    <span class="fa-xs mr-1 legend-tile" style="color: #D70206;"><i
                                                            class="fa fa-fw fa-square-full "></i></span>
                                                    <span class="legend-text">Pediatrics</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                  <span class="fa-xs mr-1 legend-tile" style="color: #F05B4F;"><i
                                                          class="fa fa-fw fa-square-full"></i></span>
                                                 <span class="legend-text">Skin</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #F4C63D;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Medicine</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #D17905;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Covid Support</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #453D3F;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Mental Health</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #59922B;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Urology</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #0544D3;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Eye</span>
                                            </span>
                                    <span class="legend-item mr-3 px-3">
                                                <span class="fa-xs mr-1 legend-tile" style="color: #6B0392;"><i
                                                        class="fa fa-fw fa-square-full"></i></span>
                                                <span class="legend-text">Cardiology</span>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white shadow col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h3 class="text-center pt-4"> Monthly Income (in taka) </h3>
                        <div class="chart">
                            <div class="chart-grid">
                                <div class="chart-grid-item">
                                    <span class="chart-bar januaryChartBar mb-3" th:text="${januaryEarn}">0</span>
                                    <span class="chart-label">Jan</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar februaryChartBar mb-3" th:text="${februaryEarn}">0</span>
                                    <span class="chart-label">Feb</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar marchChartBar mb-3" th:text="${marchEarn}">0</span>
                                    <span class="chart-label">Mar</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar aprilChartBar mb-3" th:text="${aprilEarn}">0</span>
                                    <span class="chart-label">Apr</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar mayChartBar mb-3" th:text="${mayEarn}">0</span>
                                    <span class="chart-label">May</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar juneChartBar mb-3" th:text="${juneEarn}">0</span>
                                    <span class="chart-label">Jun</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar julyChartBar mb-3" th:text="${julyEarn}">0</span>
                                    <span class="chart-label">Jul</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar augustChartBar mb-3" th:text="${augustEarn}">0</span>
                                    <span class="chart-label">Aug</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar septemberChartBar mb-3" th:text="${septemberEarn}">0</span>
                                    <span class="chart-label">Sep</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar octoberChartBar mb-3" th:text="${octoberEarn}">0</span>
                                    <span class="chart-label">Oct</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar novemberChartBar mb-3" th:text="${novemberEarn}">0</span>
                                    <span class="chart-label">Nov</span>
                                </div>
                                <div class="chart-grid-item">
                                    <span class="chart-bar decemberChartBar mb-3" th:text="${decemberEarn}">0</span>
                                    <span class="chart-label">Dec</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <style>
                        .chart {
                            margin: 16px;
                            padding: 16px 8px;
                        }

                        .chart-grid {
                            display: grid;
                            grid-template-columns: repeat(12, 1fr);
                            gap: 14px;
                        }

                        .chart-grid-item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        .chart-bar {
                            display: block;
                            max-height: 2000px;
                            width: 50px;
                            margin: auto 0 5px;
                            background-color: #bada55;
                            font-size: 13px;
                            color: black;
                            text-align: center;
                        }
                    </style>

                    <script th:inline="javascript">
                        [...document.querySelectorAll(".januaryChartBar")].map(bar => bar.style.height = `${[[${januaryEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".februaryChartBar")].map(bar => bar.style.height = `${[[${februaryEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".marchChartBar")].map(bar => bar.style.height = `${[[${marchEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".aprilChartBar")].map(bar => bar.style.height = `${[[${aprilEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".mayChartBar")].map(bar => bar.style.height = `${[[${mayEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".juneChartBar")].map(bar => bar.style.height = `${[[${juneEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".julyChartBar")].map(bar => bar.style.height = `${[[${julyEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".augustChartBar")].map(bar => bar.style.height = `${[[${augustEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".septemberChartBar")].map(bar => bar.style.height = `${[[${septemberEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".octoberChartBar")].map(bar => bar.style.height = `${[[${octoberEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".novemberChartBar")].map(bar => bar.style.height = `${[[${novemberEarn}]] / 100 + 19}px`),
                            [...document.querySelectorAll(".decemberChartBar")].map(bar => bar.style.height = `${[[${decemberEarn}]] / 100 + 19}px`),
                        [...document.querySelectorAll(".chart-bar")].map(bar => bar.style.backgroundColor = '#' + `${Math.floor(Math.random() * (15777215 - 10000000) + 10000000).toString(16)}`) + '20';
                    </script>

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- slimscroll js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-scroll/1.3.3/slimscroll.js"
            integrity="sha512-mmciZ0RysaJxNOf+tq0TOGa0EI7MMUEktDT2C4T6isgPu3ulOmLmY6IfebAEAgCPoLXOvOv/ODOlNxT/X/Jgaw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- chart chartist js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.js"
            integrity="sha512-9rxMbTkN9JcgG5euudGbdIbhFZ7KGyAuVomdQDI9qXfPply9BJh0iqA7E/moLCatH2JD4xBGHwV6ezBkCpnjRQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- sparkline js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js"
            integrity="sha512-/F8GvcdSUiYuL8wFMLRspx/PemIOOZBMiro7M9Wwn9V/wfzIH+RwIauASTQdJqaaZdSHBP4lmtq6VH5bbTNaJw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- morris js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"
            integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js"
            integrity="sha512-CYkt9kgBjbQrIKQGbyezfkmhmmFwMF2VVZjdGgYJJm3KnV53Ao+aFnndz2YbmMX2Y8XGBCUzBxFTqg2LAuIJzw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- chart c3 js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"
            integrity="sha512-+IpCthlNahOuERYUSnKFjzjdKXIbJ/7Dd6xvUp+7bEw0Jp2dg6tluyxLs+zq9BMzZgrLv8886T4cBSqnKiVgUw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.css"
          integrity="sha512-GQSxWe9Cj4o4EduO7zO9HjULmD4olIjiQqZ7VJuwBxZlkWaUFGCxRkn39jYnD2xZBtEilm0m4WBG7YEmQuMs5Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.js"
            integrity="sha512-11Z4MD9csmC3vH8Vd0eIPJBQu3uEHEqeznWEt3sLBCdQx3zm9mJbBcJH8WTcyGY9EXDE81BNpjE2vLosPK8cFQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css"
          integrity="sha512-cznfNokevSG7QPA5dZepud8taylLdvgr0lDqw/FEZIhluFsSwyvS81CMnRdrNSKwbsmc43LtRd2/WMQV+Z85AQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>


    <script th:inline="javascript">
        // Product Category
        // ==============================================================
        var patientUserPercent = [[${patientUserPercent}]];
        var doctorUserPercent = [[${doctorUserPercent}]];
        var adminUserPercent = [[${adminUserPercent}]];

        var chart = new Chartist.Pie('.ct-chart-category', {
            series: [{value: patientUserPercent, className: 'stroke-blue'}, {
                value: doctorUserPercent,
                className: 'stroke-green'
            }, {
                value: adminUserPercent,
                className: 'stroke-yellow'
            }],
            labels: [patientUserPercent + '%', doctorUserPercent + '%', adminUserPercent + '%']
        }, {
            donut: true,
            showLabel: true,
            donutWidth: 70,
        });


        chart.on('draw', function (data) {
            if (data.type === 'slice') {
                // Get the total path length in order to use for dash array animation
                var pathLength = data.element._node.getTotalLength();

                // Set a dasharray that matches the path length as prerequisite to animate dashoffset
                data.element.attr({
                    'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
                });

                // Create animation definition while also assigning an ID to the animation for later sync usage
                var animationDefinition = {
                    'stroke-dashoffset': {
                        id: 'anim' + data.index,
                        dur: 1000,
                        from: -pathLength + 'px',
                        to: '0px',
                        easing: Chartist.Svg.Easing.easeOutQuint,
                        // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
                        fill: 'freeze'
                    }
                };

                // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
                if (data.index !== 0) {
                    animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
                }

                // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
                data.element.attr({
                    'stroke-dashoffset': -pathLength + 'px'
                });

                data.element.animate(animationDefinition, false);
            }
            if (data.type === 'label') {
                data.element.attr({'style': 'font-size:13px; fill:black;'})

            }
        });


        var pediatricsDoctorPercent = [[${pediatricsDoctorPercent}]];
        var skinDoctorPercent = [[${skinDoctorPercent}]];
        var medicineDoctorPercent = [[${medicineDoctorPercent}]];
        var covidSupportDoctorPercent = [[${covidSupportDoctorPercent}]];
        var mentalHealthDoctorPercent = [[${mentalHealthDoctorPercent}]];
        var urologyDoctorPercent = [[${urologyDoctorPercent}]];
        var eyeDoctorPercent = [[${eyeDoctorPercent}]];
        var cardiologyDoctorPercent = [[${cardiologyDoctorPercent}]];


        var chart2 = new Chartist.Pie('.ct-chart-category-2', {
            series: [pediatricsDoctorPercent, skinDoctorPercent, medicineDoctorPercent, covidSupportDoctorPercent, mentalHealthDoctorPercent,
                urologyDoctorPercent, eyeDoctorPercent, cardiologyDoctorPercent],
            labels: [pediatricsDoctorPercent + '%', skinDoctorPercent + "%", medicineDoctorPercent + "%", covidSupportDoctorPercent + "%", mentalHealthDoctorPercent + "%",
                urologyDoctorPercent + "%", eyeDoctorPercent + "%", cardiologyDoctorPercent + "%"]
        }, {
            donut: true,
            showLabel: true,
            donutWidth: 50,
        });


        chart2.on('draw', function (data) {
            if (data.type === 'slice') {
                // Get the total path length in order to use for dash array animation
                var pathLength = data.element._node.getTotalLength();

                // Set a dasharray that matches the path length as prerequisite to animate dashoffset
                data.element.attr({
                    'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
                });

                // Create animation definition while also assigning an ID to the animation for later sync usage
                var animationDefinition = {
                    'stroke-dashoffset': {
                        id: 'anim' + data.index,
                        dur: 1000,
                        from: -pathLength + 'px',
                        to: '0px',
                        easing: Chartist.Svg.Easing.easeOutQuint,
                        // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
                        fill: 'freeze'
                    }
                };

                // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
                if (data.index !== 0) {
                    animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
                }

                // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
                data.element.attr({
                    'stroke-dashoffset': -pathLength + 'px'
                });

                data.element.animate(animationDefinition, false);
            }
            if (data.type === 'label') {
                data.element.attr({'style': 'font-size:13px; fill:black;'})

            }
        });


    </script>
</section>
</body>
</html>