* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background: #fafafa;
}

.bg {
    background-image: url('https://icollector.000webhostapp.com/widget/profile/images/mybg.png');
    background-position: center;
    background-size: 100% 360px;
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
}

.pf {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}

.main {
    width: 100%;
    margin-top: -340px;
    margin-bottom: 10px;
}

.contain {
    width: 80%;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-top: -80px;
    margin-bottom: 20px;
}

.title {
    padding: 10px;
}

.summary {
    text-align: center;
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
}

.btn {
    width: 350px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px;
    color: #333;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: #222;
    color: white;
}

.contain_2 {
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
    padding: 20px 5px 10px 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.i_contain {
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.icon_logo {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    float: left;
    z-index: 1;
    margin-top: -22px;
    margin-left: -25px;
    transition-duration: 0.4s;
    border: 1px solid #ccc;
    background-color: black;
}

.i_cards {
    width: 100%;
    height: 90px;
    background: white;
    border-radius: 20px;
    padding: 8px 8px 8px 14px;
    text-align: left;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    float: left;
}

.i_title {
    margin-top: 10px;
    margin-left: 55px;
    margin-right: 4px;
}

.i_summary {
    margin-left: 55px;
    overflow: hidden;
    margin-right: 4px;
}

.i_contain:hover .icon_logo {
    margin-top: 4px;
}

footer {
    padding: 30px;
    color: block;
    background: white;
    border-top: 1px solid #ccc;
}

footer a {
    text-decoration: none;
    color: black;
}

.i_space {
    width: 100%;
    height: 70px;
}

@media only screen and (max-width: 600px) {
    .bg {
        height: 260px;
        background-size: cover;
    }

    .main {
        margin-top: -229px;
    }

    .pf {
        width: 120px;
        height: 120px;
    }

    .contain {
        width: 85%;
        margin-top: -60px;
    }

    .summary {
        width: 80%;
    }

    .contain_2 {
        width: 85%;
    }

    .column {
        width: 100%;
    }

    .i_space {
        height: 50px;
    }
}


@keyframes blinking {
    0% {
        color: white;
    }
    47% {
        color: #ffdebb;
    }
    62% {
        color: #ffbb73;
    }
    97% {
        color: #fb9932;
    }
    100% {
        color: #fb8402;
    }
}
