<!DOCTYPE html>
<html lang="en" th:replace="patient/bases/base4::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <div th:if="${noPrescription == 'true'}" class="container text-center mt-5 pt-5">
        <h2 style="color: lightcoral" class="mx-5 px-5 mt-3"> Sorry, you don't have any prescriptions! Please get an appointment to have prescriptions.</h2>
    </div>

    <div th:if="${noPrescription != 'true'}">
        <h3 class="text-center mb-3 mt-3"> <u>My Prescriptions</u> </h3>
        <table class="table mt-5">
            <thead>
            <tr>
                <th class="text-center" scope="col">Appointment ID</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">Time</th>
                <th class="text-center" scope="col">Doctor ID</th>
                <th class="text-center" scope="col">Symptoms</th>
                <th class="text-center" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="prescription : ${prescriptionList}">
                <th class="text-center" th:text="${prescription.getAppointDoctor().getId()}"></th>
                <th class="text-center" th:text="${prescription.getAppointDoctor().getAppointmentDate()}"></th>
                <th class="text-center" th:text="${prescription.getAppointDoctor().getAppointmentTime()}"></th>
                <th class="text-center" th:text="${prescription.getAppointDoctor().getDoctorID()}"></th>
                <th class="text-center" th:text="${prescription.getSymptoms()}"></th>
                <th class="text-center"><button class="btn btn-sm btn-primary">View</button> </th>

            </tr>
            </tbody>
        </table>
    </div></section>
</body>
</html>