body {
    transition: all 0.3s ease;
}


.vl {
    border-left: 6px solid #3CB371;
    height: 110px;
    padding-right: 60px;
}

.wrapper {
    height: 100vh;
    width: 97vw;
    display: flex;
    flex-direction: column;
    background: red;
    margin: 10px;
}

.prescription_form {
    width: 100%;
    height: 100vh;
    background: white;
}

.prescription {
    width: 770px;
    height: 960px;
    margin: 0 auto;
    border: 1px solid lightgrey;
    background: white;
}

.prescription tr > td {
    padding: 15px;
}

.header {
    color: #333;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo img {
    width: 120px;
    height: 120px;
    float: left;
}

.credentials {
    flex: 1;
}

.credentials h5 {
    line-height: 1em;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.credentials p {
    margin: 0 0 5px 0;
    padding: 3px 0px;
}

.credentials small {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-right: 80px;
}

.d-header {
    width: 100%;
    text-align: center;
    background: mediumseagreen;
    padding: 5px;
    color: white;
    font-weight: 800;
}

.symptoms,
.tests,
.advice {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.symptoms ul,
.tests ul {
    list-style: square;
    margin: 0;
    padding-left: 10px;
    height: 100%;
}

.advice p {
    letter-spacing: 0;
    font-size: 14px;
}

.advice .adv_text {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.desease_details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.taking_time {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}

.schedual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sc_time {
    margin: 0;
    padding: 0;
    float: left;
}

.sc_time span {
    font-weight: bold;
    margin-right: 1rem;
}

.sc {
    border: none;
    outline: none;
    font-size: 15px;
}


.medicine {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.med_name_action,
.med_when_action,
.med_period_action {
    display: none;
}

.med_meal_action .btn {
    margin: 2px;
}

.med_period {
    border: none;
    outline: none;
}

#add_med {
    margin: 20px 5px;
    flex-grow: 1;
}

#add_med {
    animation: shake 1.5s linear infinite;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
    95% {
        opacity: 0;
    }
}

#add_symptoms {
    margin: 10px 5px;
    flex-grow: 1;
    opacity: 1;
}

.symp_action,
.test_action,
.adv_action {
    display: none;
}

.med_footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
