<!DOCTYPE html>
<html lang="en" th:replace="doctor/bases/base6::layout(~{::section})" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <!--<div class="wrapper">
        <div class="prescription_form">-->
    <div th:if="${noAppointment == 'true'}" class="container text-center mt-5 pt-5">
        <h3 style="color: lightcoral"> Dude, it's not your time to give prescription... <br>Come back later at your
            appointment time..</h3>
    </div>
    <div th:if="${noAppointment != 'true'}">
        <table class="prescription">
            <div class="container" th:if="${prescriptionSaved == 'true'}">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <div class="mx-5 text-center"><strong>Success!</strong> Successfully Saved</div>
                </div>
            </div>
            <tbody>
            <tr height="15%">
                <td colspan="2">
                    <p class="align-right" align="right">Appointment ID: <span th:text="${appointmentID}"></span></p>
                    <div class="header">
                        <div class="logo">
                            <img src="
								https://i.ibb.co/2744kxw/spine-tech-logo-creative-spine-clinic-vector-2.pngjm i
								" class="mb-3 mx-4">
                        </div>
                        <div class="credentials">
                            <h5>Dr. <span th:text="${user.getName()}"></span></h5>
                            <p><span th:text="${user.getDoctorsAdditionalInfo().getDegrees()}"></span></p>
                            <small><span
                                    th:text="${user.getDoctorsAdditionalInfo().getMedicalcollege()}"> </span></small>
                            <br/>
                            <small><span th:text="${user.getPhone()}"> </span></small>
                        </div>
                        <div class="vl"></div>
                        <div class="credentials">
                            <p>Patient Details:</p>
                            <h5 th:text="${patientUser.getName()}"></h5>
                            <small th:text="${patientUser.getAddress()}"></small><br>
                            <small>DOB:<span th:text="${patientUser.getDOB()}"></span></small>
                            <br/>
                            <small th:text="${patientUser.getPhone()}"></small>
                        </div>
                    </div>
                </td>
            </tr>

            <form th:action="@{/doctor/save-prescription}" method="post">
                <tr>
                    <td width="40%">
                        <div class="desease_details">
                            <input type="hidden" th:value="${appointmentID}" th:name="appointmentID">
                            <div class="symptoms">
                                <h5 class="d-header">Symptoms</h5>
                                <textarea th:name="symptoms" th:text="${doctorGivePrescriptionDTO.getSymptoms()}"
                                          class="form-control" rows="6" cols="20" style="padding: 15px"></textarea>
                            </div>
                            <div class="tests">
                                <h5 class="d-header">Tests</h5>
                                <textarea th:name="tests" th:text="${doctorGivePrescriptionDTO.getTests()}"
                                          class="form-control" rows="6" cols="20" style="padding: 15px"></textarea>
                            </div>
                            <div class="advice">
                                <h5 class="d-header">Advice</h5>
                                <textarea th:name="advice" th:text="${doctorGivePrescriptionDTO.getAdvice()}"
                                          class="form-control" rows="6" cols="20" style="padding: 15px"></textarea>
                            </div>
                        </div>
                    </td>
                    <td width="60%" valign="top">
                        <h5 class="d-header" style="text-decoration-color: white;">Medicines</h5>
                        <span style="font-size: 3em;">R<sub>x</sub></span>
                        <hr/>
                        <div class="medicine">
                            <textarea th:name="medicines" th:text="${doctorGivePrescriptionDTO.getMedicines()}"
                                      class="form-control" aria-label="With textarea" rows="15" cols="20"
                                      style="padding: 15px"></textarea>
                            <span style="margin-top: 30px; text-align: right;">
						Prescribed By
                        <hr style="border-top: 2px dashed black; margin-left: 220px;">
							 <span style="font-family: 'Kalam', cursive; font-size: 20px"> <span
                                     th:text="${user.getName()}"> </span> </span>
                            <p style="font-family: 'Kalam', cursive; font-size: 20px"> Date: <span
                                    th:text="${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}"></span> </p>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button class="btn btn-outline-success btn-lg mb-4 mt-3">Save</button>
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
    <!--</div>
</div>-->
</section>
</body>
</html>