<!DOCTYPE html>
<html lang="en" th:replace="doctor/bases/base7::layout(~{::section})" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid main-container pt-3 pb-5">
        <form th:action="@{/doctor/process-save-editedpost}" method="post" id="doEditForm">
            <div class="modal-body">
                <div class="my-1 p-1">
                    <div class="d-flex flex-column">
                        <!-- name -->
                        <div class="d-flex align-items-center mb-3">
                            <div class="p-2">
                                <img
                                        th:src="${user.getImageURL()}"
                                        alt="from fb"
                                        class="rounded-circle"
                                        style="
                                  width: 38px;
                                  height: 38px;
                                  object-fit: cover;
                                "
                                />
                            </div>
                            <div>
                                <p class="m-0 fw-bold" th:text="${user.getName()}"></p>

                            </div>
                        </div>

                        <div>
                            <input type="text" hidden name="postId" th:value="${post.getId()}">
                            <textarea id="textareaa"
                                      name="postContent"
                                      cols="50"
                                      rows="5"
                                      class="form-control border-0"
                                      placeholder="Edit Post"
                                      minlength="10"
                                      maxlength="5000"
                                      th:text="${post.getPostContent()}"
                            ></textarea>
                        </div>
                        <p class="mt-4 text-center">Uploaded Cover Photo</p>
                        <div class="mb-2 text-center">
                            <img
                                    th:src="${post.getCoverPhoto()}"
                                    alt="post image"
                                    class="img-fluid rounded mb-3"
                            /></div>

                    </div>
                </div>

                <!-- end -->
            </div>
            <!-- footer -->
            <div class="container text-center">
                <button type="submit" class="btn btn-success w-50">
                    Save Post
                </button>
            </div>
        </form>
    </div>
    <!-- Script  tinymce -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.1.0/tinymce.min.js"
            integrity="sha512-dr3qAVHfaeyZQPiuN6yce1YuH7YGjtUXRFpYK8OfQgky36SUfTfN3+SFGoq5hv4hRXoXxAspdHw4ITsSG+Ud/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const editForm = document.querySelector('#doEditForm');

        editForm.addEventListener('submit', function (e) {
            // prevent the form from submitting
            e.preventDefault();
            const totalLength = tinymce.activeEditor.plugins.wordcount.body.getCharacterCount();
            if (totalLength < 150) {
                alert('Minimum character should be 150! current text length is ' + totalLength);
            } else if (totalLength > 50000) {
                alert('maximum character should be 50000! current text length is ' + totalLength)
            } else {
                editForm.submit();
            }
        });

        tinymce.init({
            selector: '#textareaa',
            branding: false,
            elementpath: false,
            content_style: "body { line-height: 1.4; }",
            statusbar: false,
            height: 500,
            plugins: 'wordcount',
            init_instance_callback: function (editor) {
                var freeTiny = document.querySelector('.tox .tox-notification--in');
                freeTiny.style.display = 'none';
            }
        });
    </script>
</section>
</body>
</html>