<!DOCTYPE html>
<html lang="en" th:replace="doctor/bases/base7::layout(~{::section})" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container-fluid main-container">
        <h3 class="text-center pt-5"> Saved Tips </h3>
        <div class="row align-items-center">
            <div th:if="${postsListLength == 0}" class="container text-center mt-5 pt-5 px-5">
                <h2 style="color: lightcoral"> Sorry, Currently You Don't Have Any Saved Posts!</h2>
            </div>
            <!-- posts -->
            <!-- p 1 -->
            <div th:each="post : ${postsList}">
                <p th:id="'unsavePostLabel-'+${post.getPosts().getId()}" class="text-center mt-3"></p>
                <div class="bg-white p-4 rounded shadow mt-3" th:id="'postIdDiv-'+${post.getPosts().getId()}">
                    <!-- author -->
                    <div class="d-flex justify-content-between">
                        <!-- avatar -->
                        <div class="d-flex">
                            <img
                                    th:src="${post.getPosts().getUser().getImageURL()}"
                                    alt="avatar"
                                    class="rounded-circle me-2"
                                    style="width: 38px; height: 38px; object-fit: cover"
                            />
                            <div>
                                <p class="m-0 fw-bold"><span th:text="${post.getPosts().getUser().getName()}"></span>
                                </p>
                                <span class="text-muted fs-7"><span th:text="${post.getPosts().getPostDate()}"></span> at <span
                                        th:text="${post.getPosts().getPostTime()}"></span></span>
                            </div>
                        </div>
                        <!-- edit -->
                        <i
                                class="fas fa-ellipsis-h"
                                type="button"
                                id="post1Menu"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                        ></i>
                        <!-- edit menu -->
                        <ul
                                class="dropdown-menu border-0 shadow"
                                aria-labelledby="post1Menu"
                        >
                            <li class="d-flex align-items-center">
                                <div
                                        class="
                        dropdown-item
                        d-flex
                        justify-content-around
                        align-items-center
                        fs-7
                      "
                                        role="button"
                                        th:onclick="'javascript:sendUnsavePostParam(\'' + ${post.getPosts().getId()} + '\', \'unsavePostLabel-'+ ${post.getPosts().getId()} + '\', \'postIdDiv-'+${post.getPosts().getId()}+'\');'"
                                ><i class='bx bx-bookmark-minus'></i> Unsave Post
                                </div>
                            </li>
                        </ul>

                    </div>


                    <!-- post content -->
                    <div class="mt-3">
                        <!-- content -->
                        <div>
                            <div class="mb-2">
                                <div th:id="'dots-'+${post.getPosts().getId()}"
                                     th:utext="${#strings.substring(post.getPosts().getPostContent(), 0, 120)+'. . .'}"></div>
                                <div th:id="'more-'+${post.getPosts().getId()}" style="display: none">
                                    <p th:utext="${post.getPosts().getPostContent()}"></p>
                                </div>
                                <div class="fs-6" style="color: #0D6EFD" role="button"
                                     th:onclick="'javascript:myReadMoreFunction(\'dots-' + ${post.getPosts().getId()} + '\', \'more-' + ${post.getPosts().getId()} + '\', \'myReadMoreBtn-' + ${post.getPosts().getId()} + '\');'"
                                     th:id="'myReadMoreBtn-'+${post.getPosts().getId()}">Read more
                                </div>
                                <script>
                                    function myReadMoreFunction(dotsId, moreId, myReadMoreBtnId) {
                                        var dots = document.getElementById(dotsId);
                                        var moreText = document.getElementById(moreId);
                                        var btnText = document.getElementById(myReadMoreBtnId);

                                        if (dots.style.display === "none") {
                                            dots.style.display = "inline";
                                            btnText.innerHTML = "Read more";
                                            btnText.style.color = "#0D6EFD"
                                            moreText.style.display = "none";
                                        } else {
                                            dots.style.display = "none";
                                            btnText.innerHTML = "Read less";
                                            btnText.style.color = "#B72D47"
                                            moreText.style.display = "inline";
                                        }
                                    }
                                </script>
                            </div>
                            <img
                                    th:src="${post.getPosts().getCoverPhoto()}"
                                    alt="post image"
                                    class="img-fluid rounded"
                            />

                        </div>
                        <!-- likes & comments -->
                        <div class="post__comment mt-3 position-relative">
                            <!-- likes -->
                            <div class="
                      d-flex
                      align-items-center
                      top-0
                      start-0
                      position-absolute                    "
                                 style="height: 50px; z-index: 5"
                            >
                                <div class="me-2">
                                    <i class="text-primary fas fa-thumbs-up"></i>
                                </div>
                                <p class="m-0 text-muted fs-7"><span th:id="'likedCount-'+${post.getPosts().getId()}"
                                                                     th:text="${#lists.size(post.getPosts().getLikesList())}"></span>
                                    liked this</p>
                            </div>
                            <!-- comments start-->
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item border-0">
                                    <!-- comment collapse -->
                                    <h2 class="accordion-header" id="headingTwo">
                                        <div
                                                class="
                            accordion-button
                            collapsed
                            pointer
                            d-flex
                            justify-content-end
                          "
                                                data-bs-toggle="collapse"
                                                th:data-bs-target="'#collapsePost-'+${post.getPosts().getId()}"
                                                aria-expanded="false"
                                                aria-controls="collapsePost1"
                                        >
                                            <p class="m-0"><span th:id="'commentscount-'+${post.getPosts().getId()}"
                                                                 th:text="${#lists.size(post.getPosts().getCommentsList())}"></span>
                                                Comments</p>
                                        </div>
                                    </h2>
                                    <hr/>
                                    <!-- comment & like bar -->
                                    <div class="d-flex justify-content-around">
                                        <div th:id="'process-like-btn-'+${post.getPosts().getId()}"
                                             th:onclick="'javascript:sendLikeParam(\'' + ${post.getPosts().getId()} + '\', \'likedCount-' + ${post.getPosts().getId()} + '\', \'process-like-btn-' + ${post.getPosts().getId()} + '\');'"
                                             class="
                            dropdown-item
                            rounded
                            d-flex
                            justify-content-center
                            align-items-center
                            pointer
                            text-muted
                            p-1
                          ">
                                            <!--                                                <input th:value="${post.getId()}" name="postId" id="postId" hidden>-->
                                            <input th:value="${user.getId()}" name="likerId" id="likerId" hidden>
                                            <i class="fas fa-thumbs-up me-3"></i>
                                            <p class="m-0">Like</p>
                                        </div>
                                        <div class="
                            dropdown-item
                            rounded
                            d-flex
                            justify-content-center
                            align-items-center
                            pointer
                            text-muted
                            p-1
                          "
                                             data-bs-toggle="collapse"
                                             th:data-bs-target="'#collapsePost-'+${post.getPosts().getId()}"
                                             aria-expanded="false"
                                             aria-controls="collapsePost1"
                                        >
                                            <i class="fas fa-comment-alt me-3"></i>
                                            <p class="m-0">Comment</p>
                                        </div>
                                    </div>
                                    <!-- comment expand -->
                                    <div
                                            th:id="'collapsePost-'+${post.getPosts().getId()}"
                                            class="accordion-collapse collapse"
                                            aria-labelledby="headingTwo"
                                            data-bs-parent="#accordionExample"
                                    >
                                        <hr/>
                                        <div class="accordion-body">
                                            <!-- create comment -->
                                            <div class="d-flex my-2" id="commentForm">
                                                <!-- avatar -->
                                                <div>
                                                    <img th:src="${user.getImageURL()}"
                                                         alt="avatar"
                                                         class="rounded-circle me-2"
                                                         style="width: 38px; height: 38px;  object-fit: cover;                                "
                                                    />
                                                </div>
                                                <!-- input -->
                                                <input
                                                        type="text"
                                                        class="form-control border-0 rounded-pill bg-gray"
                                                        placeholder="Write a comment"
                                                        th:id="'comment-input-'+${post.getPosts().getId()}"
                                                        th:onkeypress="'javascript:waitforenterandcomment(\'' + ${post.getPosts().getId()} + '\', \'comment-div-'+${post.getPosts().getId()} + '\', \'comment-input-'+${post.getPosts().getId()}  + '\', \'commentscount-'+${post.getPosts().getId()} + '\');'"
                                                />
                                            </div>
                                            <!-- comment 1 -->
                                            <div th:id="'comment-div-'+${post.getPosts().getId()}">

                                                <div class="d-flex align-items-center my-1"
                                                     th:each="comment : ${post.getPosts().getCommentsList()}">
                                                    <!-- avatar -->
                                                    <img
                                                            th:src="${comment.getCommenterImage()}"
                                                            alt="avatar"
                                                            class="rounded-circle me-2"
                                                            style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              "
                                                    />
                                                    <!-- comment text -->
                                                    <div class="p-3 rounded comment__input w-100">
                                                        <p class="fw-bold m-0"
                                                           th:text="${comment.getCommenterName()}"></p>
                                                        <p class="m-0 fs-7 bg-gray p-2 rounded"
                                                           th:text="${comment.getComment()}">

                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- comment 2 -->


                                            </div>
                                            <!-- end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- p 2 -->

        </div>
        <!--        pagination -->
        <div class="container justify-content-center d-flex pt-3 pb-2">
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:if="${currentPage-1 > 0}" class="page-item">
                        <a class="page-link" th:href="@{'/doctor/saved-tips-posts/'+${currentPage-1}}">Previous</a>
                    </li>
                    <li th:if="${currentPage-1 > 0}" class="page-item"><a class="page-link"
                                                                          th:href="@{'/doctor/saved-tips-posts/'+${currentPage-1}}">
                        <span th:text="${currentPage-1}"></span>
                    </a></li>
                    <li class="page-item active"><span class="page-link" th:text="${currentPage}"><span class="sr-only">(current)</span></span>
                    </li>
                    <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link"
                                                                                 th:href="@{'/doctor/saved-tips-posts/'+${currentPage+1}}">
                        <span th:text="${currentPage+1}"></span>
                    </a></li>
                    <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link"
                                                                                 th:href="@{'/doctor/saved-tips-posts/'+${currentPage+1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script th:inline="javascript">
        function sendUnsavePostParam(postId, unsavePostLabelId, postIdDiv) {
            $.postUnsaveAjaxFunction(postId, unsavePostLabelId, postIdDiv)
        }

        function waitforenterandcomment(postId, addCommentDivId, commentInputFieldId, commentsCountId) {
            if (event.key == 'Enter') {
                if (+$('#' + commentInputFieldId).val().length != 0) {
                    $.commentAjaxFunction(postId, addCommentDivId, commentInputFieldId, commentsCountId);
                    $('#' + commentInputFieldId).removeClass("text-bg-danger bg-opacity-10 text-success");
                } else {
                    $('#' + commentInputFieldId).addClass("text-bg-danger bg-opacity-10 text-success");
                }
            }
        }

        function sendLikeParam(postId, likeCntId, likeBtnId) {
            console.log(postId + ' <- post id .. ' + likeCntId + ' <- like count id' + likeBtnId + ' <- like btn id')
            $.likeAjaxFunction(postId, likeCntId, likeBtnId);
        }

        $(document).ready(
            function () {
                $.postUnsaveAjaxFunction = function (postId, unsavePostLabelId, postIdDiv) {
                    var formData = {
                        postId: postId,
                        unsaverId: [[${user.getId()}]]
                    }

                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/doctor/process-unsavepost",
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        success: function (result) {
                            if (result.status == "success") {
                                $("#" + unsavePostLabelId).html(result.data).addClass("alert alert-success");
                                $("#" + postIdDiv).remove()
                            }
                            console.log(result);
                        },
                        error: function (e) {
                            $("#" + unsavePostLabelId).html("Post is Not Unsaved").addClass("alert alert-danger");
                            console.log("ERROR: ", e);
                        }
                    });

                }


                $.likeAjaxFunction = function ajaxPost(postId, likeCntId, likeBtnId) {
                    // PREPARE FORM DATA
                    var formData = {
                        postId: postId,
                        likerId: $('#likerId').val()
                    }

                    console.log(formData.postId + " " + formData.likerId)

                    // DO POST
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/doctor/process-like",
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        success: function (result) {
                            if (result.status == "success") {
                                console.log(result.data);
                                var resultData = result.data;
                                $("#" + likeCntId).html(result.data);
                                console.log(resultData.includes('You'))
                                if (resultData.includes('You')) {
                                    $("#" + likeBtnId).addClass("bg-opacity-10 bg-info rounded-pill");
                                } else {
                                    $("#" + likeBtnId).removeClass("bg-opacity-10 bg-info rounded-pill");
                                }

                            } else {
                                $("#" + likeCntId).html("<strong>Error!</strong>");
                            }
                            console.log(result);
                        },
                        error: function (e) {
                            alert("Error!")
                            console.log("ERROR: ", e);
                        }
                    });

                }

                $.commentAjaxFunction = function (postId, addCommentDivId, commentInputFieldId, commentsCountId) {
                    var formData = {
                        postId: postId,
                        commenterId: [[${user.getId()}]],
                        commenterName: [[${user.getName()}]],
                        commenterImage: [[${user.getImageURL()}]],
                        comment: $('#' + commentInputFieldId).val()
                    }

                    console.log('Comment: ' + $('#' + commentInputFieldId).val())
                    document.getElementById(commentInputFieldId).value = ""


                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/doctor/process-comment",
                        data: JSON.stringify(formData),
                        dataType: 'json',
                        success: function (result) {
                            if (result.status == "success") {
                                console.log(result.data);

                                $("#" + commentsCountId).html(result.data);
                                var commenterImage = [[${user.getImageURL()}]];
                                $("#" + addCommentDivId).prepend(`
                    <div class="d-flex align-items-center my-1">
                                                    <!-- avatar -->
                                                    <img
                                                            src="${commenterImage}"
                                                            alt="avatar"
                                                            class="rounded-circle me-2"
                                                            style="
                                width: 38px;
                                height: 38px;
                                object-fit: cover;
                              "
                                                    />
                                                    <!-- comment text -->
                                                    <div class="p-3 rounded comment__input w-100">
                                                        <p class="fw-bold m-0">${formData.commenterName}</p>
                                                        <p class="m-0 fs-7 bg-gray p-2 rounded">
                                                             ${formData.comment}
                                                        </p>
                                                    </div>
                    `)

                            } else {
                                $('#' + commentInputFieldId).addClass("text-bg-danger bg-opacity-10 text-success");
                                console.log("ERROR! Not success returned");
                            }
                            console.log(result);
                        },
                        error: function (e) {
                            $('#' + commentInputFieldId).addClass("text-bg-danger bg-opacity-10 text-success");
                            console.log("ERROR: ", e);
                        }
                    });
                }
            })
    </script>
</section>
</body>
</html>